@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@1,600&family=Gulzar&family=Merriweather&family=Splash&display=swap');



body{
    background:#2641bb;
    font-family: 'Albert Sans', sans-serif;
}
main{
   
    display:flex;
    justify-content: center;
    flex-direction: row;
}

section{
    background-color: rgb(70, 52, 173);
margin: 10px;
padding:  15px;
border-radius: 5px;
}
.entrada{
    font-family: 'Albert Sans', sans-serif;

    background-color: rgb(0, 255, 157);
    padding: Spx;
    border-radius: 15px;
}
.saida{
    background-color: brown;
}